.container {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.submitBtn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

.resetBtn {
    -fx-background-color: #44403c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

.backBtn {
    -fx-background-color: #9e9e9e;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

.cancelBtn {
    -fx-background-color: #78716c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

.input {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #bdbdbd;
    -fx-background-color: #FFFFFF, #FFFFFF;
}

.input:focused, #comboBox:focused {;
    -fx-border-color: #ff834f;
}

.comboBox {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #bdbdbd;
    -fx-border-radius: 5px;
    -fx-background-color: #fff;
    -jfx-focus-color: #EAEEF4;
    -jfx-unfocus-color: #EAEEF4;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* Control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #ff834f;
    -fx-text-fill: white;
}

/* Table view styling */
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}
.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #ff834f, #fb923c);
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell {
    -fx-cell-size: 35px;
}
.table-row-cell: hover {
    -fx-background-color: #ffedd5;
    -fx-text-background-color: #ff834f;
}
.table-row-cell: odd{
    -fx-background-color: #f5f5f4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #ff834f, #fb923c);
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.table-row-cell:selected {
    -fx-background-color: #fed7aa;
    -fx-text-background-color: black;
}
