.container {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#rentBikeBtn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
