.field-name {
    -fx-text-fill: #44403c;
    -fx-font-size: 18px;
}

.input {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #bdbdbd;
    -fx-background-color: #FFFFFF, #FFFFFF;
}

.input:focused, #comboBox:focused {;
    -fx-border-color: #ff834f;
}

.combobox {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #bdbdbd;
    -fx-border-radius: 5px;
    -fx-background-color: #fff;
    -jfx-focus-color: #EAEEF4;
    -jfx-unfocus-color: #EAEEF4;
}

.my-button {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.pane_2 {
    -fx-background-color: #EAEEF4;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ff834f;
}

.station-name {
    -fx-text-fill: #ff834f;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.station-info {
    -fx-text-fill: #44403c;
    -fx-font-size: 16px;
}

#btnBack {
    -fx-background-color: #44403c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#btnReset {
    -fx-background-color: #44403c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#btnViewBikes {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}