.station_pane {
    -fx-border-color: #ff834f;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #ffffff;
}

#submitBtn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}
