.container {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#confirmBtn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

#cancelBtn {
    -fx-background-color: #78716c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

.label {
    font-weight: bold;
    color: red;
}
