.root {
    -fx-background-color: #EAEEF4;
}

.side_pane {
    -fx-background-color: #44403c;
}

.sidebar_btn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.cancel_btn {
    -fx-background-color: #bdbdbd;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.input {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-color: #44403c;
    -fx-background-color: #FFFFFF, #FFFFFF;
}

.pane_1 {
    -fx-background-color: #fca5a5;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #fca5a5;
}

.pane_2 {
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.pane_3 {
    -fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
}

.pane_4 {
    -fx-background-color: #fff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #fff;
}
