#comboBox {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #bdbdbd;
    -fx-border-radius: 5px;
    -fx-background-color: #fff;
    -jfx-focus-color: #EAEEF4;
    -jfx-unfocus-color: #EAEEF4;
}

.input {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #bdbdbd;
    -fx-background-color: #FFFFFF, #FFFFFF;
}

.input:focused, #comboBox:focused {;
    -fx-border-color: #ff834f;
}

#submitBtn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

#resetBtn {
    -fx-background-color: #44403c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}

#backBtn {
    -fx-background-color: #9e9e9e;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}
