.logo_container {
    -fx-background-color: #44403c;
}

.input {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #bdbdbd;
    -fx-background-color: #FFFFFF, #FFFFFF;
}

.input:focused, #comboBox:focused {;
    -fx-border-color: #ff834f;
}

#loginBtn {
    -fx-background-color: #ff834f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 7 10;
}